body{
    background-image: linear-gradient(180deg, linen , darkkhaki 90%);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: darkolivegreen;
    text-decoration: underline;
    font-size: 35px;
}

img{
    max-width: 500px;
    max-height: 500px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description{
    text-align: center;
    padding-bottom: 15px;
    text-decoration: underline;
    color: darkolivegreen;
    font-size: 25px;
}

p{
    text-align: center;
    color: darkolivegreen;
    width: 75%;
    margin-left: 12.5%;
}

.ingredients{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 40px;
    text-decoration: underline;
    color: darkolivegreen;
    margin-left: 15%;
}

ul{
    color: darkolivegreen;
    list-style: none;
}

.steps{
    text-align: right;
    padding-bottom: 15px;
    padding-top: 40px;
    text-decoration: underline;
    color: darkolivegreen;
    margin-right: 25%;
}

ol{
    color: darkolivegreen;
    width: 50%;
    margin-left: 45%;
    align-items: center;
    padding-bottom: 30px;
}
