body{
    background-image: linear-gradient(140deg, linen, darkkhaki);
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    color: darkolivegreen;
}

li{
    text-align: center;
    list-style: none;
    padding-bottom: 25px;
}

a{
    text-decoration: none;
    color: darkolivegreen;
}